body {
  background-color: #ddd;
  padding: 50px;
}

.range {
  padding: 30px 0;
  width: 300px;
}

.range .range-content {
  border: 0;
  border-radius: 10px;
  width: 300px;
  height: 20px;
  position: relative;
}

.range .range-content .selection {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #36c;
  border: 0;
  border-radius: 10px;
}

.range .range-content .tracker {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  border: 0;
  border-radius: 10px;
}

.range .range-content .rangeHandle {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
  text-align: center;
  color: #fff;
}

.range .range-content .rangeHandle:hover {
  cursor: pointer;
}

.range .range-content .rangeHandle.left {
  left: 0;
  top: -10px;
}

.range .range-content .rangeHandle.right {
  top: -10px;
  right: 0;
}
